<!DOCTYPE html>
<html>
    <head>
    
        <meta charset="UTF-8">
        <title>{% block title %}NB'SOCKER{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        
        
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
			<script src="https://kit.fontawesome.com/0f9e64704e.js" crossorigin="anonymous"></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    
    <div class="p-3 mb-2 bg-danger text-white"></div>
    
    <nav class="navbar navbar-expand-lg navbar-red bg-black p-5">
    
  

  <div class="container-fluid">
  
    <a class="navbar-brand" href="#"></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link active" href="{{ path('home')}}">Accueil</a>
        </li>
        {% if app.user %}
        <li class="nav-item">
		<a class="nav-link" href="{{ path('profil')}}">Profil</a>
		</li>
      
             <li class="nav-item">
	    <a class="nav-link" href="{{ path('panier')}}">Panier</a>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nos Produits
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{path('show_produits_basket')}}">VESTES NBA</a></li>
            <li><a class="dropdown-item" href="{{path('show_produits_football')}}">MAILLOT FOOTBALL</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{path('show_produits_produits')}}">BASKET</a></li>
          </ul>
        </li>
          <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_login')}}">Connexion</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_logout')}}">Deconnexion</a>
          </li>
	
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_register')}}">Inscription</a>
          
        </li>
       <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_category_index')}}">Categorie</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{{ path('app_produit_index')}}">Produits</a>
          
        </li>
       
        <li class="nav-item">
		<a class="nav-link" href="{{ path('commande_index')}}">Commande</a>
	    </li>
        <li class="nav-item">
	    <a class="nav-link" href="{{ path('contact_index')}}">Contact</a>
	    </li>
       
        
       
      {% endif %}

 {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nos Produits
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{path('show_produits_basket')}}">VESTE NBA</a></li>
            <li><a class="dropdown-item" href="{{path('show_produits_football')}}">MAILLOT FOOTBALL</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{path('show_produits_produits')}}">BASKET</a></li>
          </ul>
        </li>
       
   
<li class="nav-item">
<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
</li>

<li class="nav-item">
<a class="nav-link " href="{{ path('app_register')}}">inscription</a>
</li>

							{% endif %}
        </li>
      </ul>
     
    </div>
  </div>
  
</nav>

</div>

        {% block body %}{% endblock %}
    </body>
</html>
